---
---
@import "chameleon/src/sass/chameleon";

table {
    @extend .table;
    @extend .table-responsive;
    @extend .table-striped;
    @extend .table-sm;
    border-width: 0;
    border-radius: 4px;
}

td:nth-of-type(2) {
    width: 100%;
}

td:nth-of-type(2), th:nth-of-type(2),
td:nth-of-type(3), th:nth-of-type(3),
td:nth-of-type(4), th:nth-of-type(4) {
    white-space: nowrap;
}

th[colspan="5"] {
    display: none;
}

table tr:first-of-type th {
    border-top: 0;
}

table tr td {
    border-bottom: 0;
    vertical-align: middle !important;
}

table tr td:nth-of-type(1), table tr td:nth-of-type(2), table tr td:nth-of-type(5), table tr th:nth-of-type(2), table tr th:nth-of-type(3), table tr th:nth-of-type(4) {
    padding:0;
}

table tr td a, table tr th a {
    display: block;
    padding: 0.3rem;
}

table tr td a:hover, table tr th a:hover {
    text-decoration: none;
}

table tr th a:after {
    color: initial;
}

table.by-name th:nth-of-type(2) a[href$="?C=N;O=A"]:after,
table.by-modified th:nth-of-type(3) a[href$="?C=M;O=A"]:after,
table.by-size th:nth-of-type(4) a[href$="?C=S;O=A"]:after {
    content: " ↑";
}

table.by-name th:nth-of-type(2) a[href$="?C=N;O=D"]:after,
table.by-modified th:nth-of-type(3) a[href$="?C=M;O=D"]:after,
table.by-size th:nth-of-type(4) a[href$="?C=S;O=D"]:after {
    content: " ↓";
}

.root td:nth-of-type(2) a {
    display: flex;
}

.root td:nth-of-type(2) a:after {
    color: grey;
    margin-left: auto;
}

.root td:nth-of-type(2) a[href="debug/"]:after {
    content: "debugging packages for openSUSE distributions";
}

.root td:nth-of-type(2) a[href="distribution/"]:after {
    content: "Leap packages, sources and images";
}

.root td:nth-of-type(2) a[href="factory/"]:after {
    content: "Factory packages, sources and images";
}

.root td:nth-of-type(2) a[href="history/"]:after {
    content: "former releases of Tumbleweed packages";
}

.root td:nth-of-type(2) a[href="ports/"]:after {
    content: "openSUSE distributions for different architectures";
}

.root td:nth-of-type(2) a[href="repositories/"]:after {
    content: "packages and images created with the Open Build Service";
}

.root td:nth-of-type(2) a[href="source/"]:after {
    content: "source packages of openSUSE distributions";
}

.root td:nth-of-type(2) a[href="tumbleweed/"]:after {
    content: "Tumbleweed packages, sources and images";
}

.root td:nth-of-type(2) a[href="update/"]:after {
    content: "updates for packages in openSUSE distributions";
}


@media (max-width: 576px) {
    table tr td:nth-of-type(3), table tr th:nth-of-type(3) {
        display: none!important;
    }
}

@media (max-width: 768px) {
    .root td:nth-of-type(2) a:after {
        display: none;
    }
}

@media (max-width: 992px) {
    table tr td:nth-of-type(5), table tr th:nth-of-type(5) {
        display: none!important;
    }
}
