---
---
@import "chameleon/src/sass/chameleon";

#breadcrumbs {
    font-size: initial;
}

#mirrorbrain-wrap {
    @extend .container;
    @extend .flex-fill;
}

table {
    @extend .table;
    @extend .table-responsive;
    @extend .table-striped;
    @extend .table-sm;
    border-width: 0;
    border-radius: 4px;
}

td:nth-of-type(2) {
    width: 100%;
}

td:nth-of-type(2),
td:nth-of-type(3),
td:nth-of-type(4) {
    white-space: nowrap;
}

th[colspan="5"] {
    display: none;
}

table tr:first-of-type th {
    border-top: 0;
}

table tr td {
    border-bottom: 0;
    vertical-align: middle !important;
}

.root td:nth-of-type(2) a {
    display: flex;
}

.root td:nth-of-type(2) a:after {
    color: grey;
    margin-left: auto;
}

.root td:nth-of-type(2) a[href="debug/"]:after {
    content: "debug packages for official released distribution packages";
}

.root td:nth-of-type(2) a[href="distribution/"]:after {
    content: "Leap installation sources and ISO images";
}

.root td:nth-of-type(2) a[href="factory/"]:after {
    content: "Tumbleweed (former Factory) installation sources and ISO images";
}

.root td:nth-of-type(2) a[href="history/"]:after {
    content: "former releases of Tumbleweed packages";
}

.root td:nth-of-type(2) a[href="ports/"]:after {
    content: "ports of the openSUSE distribution";
}

.root td:nth-of-type(2) a[href="repositories/"]:after {
    content: "repositories and images created with the Open Build Service";
}

.root td:nth-of-type(2) a[href="source/"]:after {
    content: "source packages of official released distribution packages";
}

.root td:nth-of-type(2) a[href="tumbleweed/"]:after {
    content: "Tumbleweed installation sources and ISO images";
}

.root td:nth-of-type(2) a[href="update/"]:after {
    content: "updated packages for official released distribution packages";
}
