---
---
@import "chameleon/src/sass/chameleon";

#breadcrumbs {
    font-size: initial;
}

#mirrorbrain-wrap {
    @extend .container;
    @extend .flex-fill;
}

table {
    @extend .table;
    @extend .table-responsive;
    @extend .table-striped;
    @extend .table-sm;
    border-width: 0;
    border-radius: 4px;
}

td:nth-of-type(2) {
    width: 100%;
}

td:nth-of-type(2),
td:nth-of-type(3),
td:nth-of-type(4) {
    white-space: nowrap;
}

th[colspan="5"] {
    display: none;
}

table tr:first-of-type th {
  border-top: 0;
}

table tr td {
  border-bottom: 0;
  vertical-align: middle !important;
}
