<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta name="description" content="{{ site.description | normalize_whitespace }}" />

<link rel="shortcut icon" type="image/x-icon" href="https://static.opensuse.org/favicon.ico" />
<link rel="icon" href="https://static.opensuse.org/favicon-32.png" sizes="32x32">
<link rel="icon" href="https://static.opensuse.org/favicon-48.png" sizes="48x48">
<link rel="icon" href="https://static.opensuse.org/favicon-64.png" sizes="64x64">
<link rel="icon" href="https://static.opensuse.org/favicon-96.png" sizes="96x96">
<link rel="icon" href="https://static.opensuse.org/favicon-144.png" sizes="144x144">
<link rel="icon" href="https://static.opensuse.org/favicon-192.png" sizes="192x192">

<link rel="apple-touch-icon" href="https://static.opensuse.org/favicon-144.png" sizes="144x144">
<link rel="apple-touch-icon" href="https://static.opensuse.org/favicon-192.png" sizes="192x192">
<link rel="mask-icon" href="https://static.opensuse.org/mask-icon.svg" color="#73ba25" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="theme-color" content="#73ba25" />

<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:description" content="{{ site.description | normalize_whitespace }}" />
<meta property="og:url" content="{{ site.url }}" />

<meta property="og:image" content="https://static.opensuse.org/favicon-192.png" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ site.title }}" />
<meta name="twitter:url" content="{{ site.url }}" />
<meta name="twitter:image" content="https://static.opensuse.org/favicon-192.png" />

<script src="/theme/setloc.js"></script>
<script defer src="https://static.opensuse.org/chameleon-3.0/dist/js/jquery.slim.js"></script>
<script defer src="https://static.opensuse.org/chameleon-3.0/dist/js/bootstrap.bundle.js"></script>
<script defer src="https://static.opensuse.org/chameleon-3.0/dist/js/chameleon.js"></script>
<link rel="canonical" href="{{ site.url }}" />
